<h4>Listing All Articles</h4>

<%= link_to "New Article" , articles_new_path %>
<ul>
<% @articles.each do |article| %>
<li>

<%= article.title %> ,
<a href="/articles/<%= article.id %>"> Show </a> ,

<a href="/articles/<%= article.id %>/edit"> Edit </a>
,
<a href="/articles/<%= article.id %>/delete"> Delete </a>
</li>


<% end %>

</ul>

<%= link_to "New Article" , articles_new_path %>