<h4> Create New Article </h4>



<%= form_tag url_for(controller: 'articles', action: 'create') do %>
Title: <%= text_field_tag :title %> <br>
Content: <%= text_field_tag :content %> <br>
<%= submit_tag "Create Article", class: "rahulsharmastyle"%>
 

<% end %>



<%= link_to "Go Back", articles_path %>


<style type="text/css">
	.rahulsharmastyle{
		padding: 8px;
		background-color: aliceblue;
	}
</style>

