<h4> Create New Article </h4>


<%= form_for @article do |f| %>

Title <%= f.text_field :title %> <br>
Content <%= f.text_field :content %> <br>
<%= f.submit %>

<% end %>


<%= link_to "Go Back", articles_path %>


<style type="text/css">
	.rahulsharmastyle{
		padding: 8px;
		background-color: aliceblue;
	}
</style>

